{# templates/profile/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Profil
{% endblock %}

{% block body %}
	<style>
		#main {
			min-height: 80vh;
		}
	</style>
	<div class="container">
		<divclass="row">
			<main id="main" class="main">

				<div class="pagetitle">
					<h1>Profile</h1>
					<nav>
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="index.html">Home</a>
							</li>
							<li class="breadcrumb-item">Users</li>
							<li class="breadcrumb-item active">Profile</li>
						</ol>
					</nav>
				</div>
				<!-- End Page Title -->
				{#  #}
				{# Affichez les notifications de succès #}
					{% for message in app.flashes('success') %}

						<div class="alert alert-success alert-dismissible fade show" role="alert"> <strong>
							{{ message }}
						</strong>

						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}

				{# Affichez les notifications d'erreur #}
				{% for message in app.flashes('error') %}
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>
							{{ message }}
						</strong>

						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endfor %}
				{#  #}


				<section class="section profile mb-5">
					<div class="row">
						<div class="col-xl-4">

							<div class="card">
								<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

									<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Nao_Robot_%28Robocup_2016%29.jpg/800px-Nao_Robot_%28Robocup_2016%29.jpg" alt="Profile" class="rounded-circle">
									<h2>{{user.getFullName}}</h2>
									{% if user.job is not empty %}
										<h3>{{ user.job }}</h3>
									{% endif %}
									<div class="mt-2 d-flex justify-content-around" style="width:50%">
										{% if user.twitter is not empty %}
											<a href="{{user.twitter}}" target="_blank" class="twitter">
												<i class="fa fa-twitter"></i>
											</a>
										{% endif %}
										{% if user.facebook is not empty %}
											<a href="{{ user.facebook }}" target="_blank" class="facebook">
												<i class="fa fa-facebook"></i>
											</a>
										{% endif %}
										{% if user.instagram is not empty %}
											<a href="{{ user.instagram }}" target="_blank" class="instagram">
												<i class="fa fa-instagram"></i>
											</a>
										{% endif %}
										{% if user.linkedin is not empty %}
											<a href="{{ user.linkedin }}" target="_blank" class="linkedin">
												<i class="fa fa-linkedin"></i>
											</a>
										{% endif %}
									</div>
								</div>
							</div>

						</div>

						<div class="col-xl-8">

							<div class="card">
								<div
									class="card-body pt-3">
									<!-- Bordered Tabs -->
									<ul class="nav nav-tabs nav-tabs-bordered">

										<li class="nav-item">
											<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
										</li>

										<li class="nav-item">
											<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
										</li>

										<li class="nav-item">
											<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
										</li>

										<li class="nav-item">
											<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
										</li>

									</ul>
									<div class="tab-content pt-2">

										<div class="tab-pane fade show active profile-overview" id="profile-overview">
											<h5 class="card-title">About</h5>
											<p class="small fst-italic">{{ user.getAPropos | raw }}</p>
											{# <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p> #}

											<h5 class="card-title">Profile Details</h5>

											<div class="row">
												<div class="col-lg-3 col-md-4 label ">Full Name</div>
												<div class="col-lg-9 col-md-8">{{ user.getFullName }}</div>
											</div>
											{% if user.compagny is not empty %}
												<div class="row">
													<div class="col-lg-3 col-md-4 label">Company</div>
													<div class="col-lg-9 col-md-8">{{ user.compagny }}</div>
												</div>
											{% endif %}

											{% if user.job is not empty %}
												<div class="row">
													<div class="col-lg-3 col-md-4 label">Job</div>
													<div class="col-lg-9 col-md-8">{{ user.job }}</div>
												</div>
											{% endif %}

											{% if user.country is not empty %}
												<div class="row">
													<div class="col-lg-3 col-md-4 label">Pays</div>
													<div class="col-lg-9 col-md-8">{{ user.id | default('Non spécifié') | raw }}</div>
												</div>
											{% endif %}
											{% if user.address is not empty %}
												<div class="row">
													<div class="col-lg-3 col-md-4 label">Address</div>
													<div class="col-lg-9 col-md-8">{{ user.address | raw }}</div>
												</div>
											{% endif %}

											{% if user.telephone is not empty %}
												<div class="row">
													<div class="col-lg-3 col-md-4 label">Phone</div>
													<div class="col-lg-9 col-md-8">{{ user.telephone | raw }}</div>
												</div>
											{% endif %}

											{% if user.email is not empty %}
												<div class="row">
													<div class="col-lg-3 col-md-4 label">Email</div>
													<div class="col-lg-9 col-md-8">k.anderson@example.com</div>
												</div>
											{% endif %}
										</div>

										<div
											class="tab-pane fade profile-edit pt-3" id="profile-edit">

											<!-- Profile Edit Form -->
											{{ form_start(form) }}
											{# {{ form_widget(form) }} #}

											<div class="row mb-3">
												<label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
												<div class="col-md-8 col-lg-9">
													<img src="assets/img/profile-img.jpg" alt="Profile">

													<div class="pt-2">
														<a href="#" class="btn btn-primary btn-sm" title="Upload new profile image">
															<i class="fa fa-upload"></i>
														</a>
														<a href="#" class="btn btn-danger btn-sm" title="Remove my profile image">
															<i class="fa fa-trash"></i>
														</a>
													</div>
												</div>
											</div>

											<div class="row mb-3">
												<label for="fullName" class="col-md-4 col-lg-3 col-form-label">Prenom</label>
												<div
													class="col-md-8 col-lg-9">
													{# <input name="fullName" type="text" class="form-control" id="fullName" value="Kevin Anderson"> #}
													{{form_row(form.firstname, { 'required': false } )}}
													{{ form_errors(form.firstname) }}
												</div>
											</div>
											<div class="row mb-3">
												<label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom</label>
												<div
													class="col-md-8 col-lg-9">
													{# <input name="fullName" type="text" class="form-control" id="fullName" value="Kevin Anderson"> #}
													{{form_row(form.lastname, { 'required': false } )}}
												</div>
											</div>
											<div class="row mb-3">
												<label for="fullName" class="col-md-4 col-lg-3 col-form-label">Nom utilisateur</label>
												<div
													class="col-md-8 col-lg-9">
													{# <input name="fullName" type="text" class="form-control" id="fullName" value="Kevin Anderson"> #}
													{{form_row(form.username, { 'required': false } )}}
												</div>
											</div>

											<div class="row mb-3">
												<label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
												<div
													class="col-md-8 col-lg-9">
													{# <textarea name="about" class="form-control" id="about" style="height: 100px">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</textarea> #}
													{{form_row(form.aPropos, { 'required': false } )}}
												</div>
											</div>

											<div class="row mb-3">
												<label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
												<div
													class="col-md-8 col-lg-9">
													{# <input name="company" type="text" class="form-control" id="company" value="Lueilwitz, Wisoky and Leuschke"> #}
													{{form_row(form.compagny, { 'required': false } )}}
												</div>
											</div>

											<div class="row mb-3">
												<label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
												<div
													class="col-md-8 col-lg-9">
													{# <input name="job" type="text" class="form-control" id="Job" value="Web Designer"> #}
													{{form_row(form.job, { 'required': false } )}}
												</div>
											</div>

											<div class="row mb-3">
												<label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
												<div
													class="col-md-8 col-lg-9">
													{# <input name="country" type="text" class="form-control" id="Country" value="USA"> #}
													{{form_row(form.country, { 'required': false } )}}
												</div>
											</div>

											<div class="row mb-3">
												<label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
												<div
													class="col-md-8 col-lg-9">
													{# <input name="address" type="text" class="form-control" id="Address" value="A108 Adam Street, New York, NY 535022"> #}
													{{form_row(form.address, { 'required': false } )}}

												</div>
											</div>

											<div class="row mb-3">
												<label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
												<div
													class="col-md-8 col-lg-9">
													{# <input name="phone" type="text" class="form-control" id="Phone" value="(436) 486-3538 x29071"> #}
													{{form_row(form.telephone, { 'required': false } )}}
												</div>


											</div>


											<div class="row mb-3">
												<label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
												<div
													class="col-md-8 col-lg-9">
													{# <input name="email" type="email" class="form-control" id="Email" value="k.anderson@example.com"> #}
													{{form_row(form.email, { 'required': false } )}}
												</div>
											</div>

											<div class="row mb-3">
												<label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
												<div
													class="col-md-8 col-lg-9">
													{# <input name="twitter" type="text" class="form-control" id="Twitter" value="https://twitter.com/#"> #}
													{{form_row(form.twitter, { 'required': false } )}}
												</div>
											</div>

											<div class="row mb-3">
												<label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
												<div
													class="col-md-8 col-lg-9">
													{# <input name="facebook" type="text" class="form-control" id="Facebook" value="https://facebook.com/#"> #}
													{{form_row(form.facebook, { 'required': false } )}}
												</div>
											</div>


											<div class="row mb-3">
												<label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
												<div
													class="col-md-8 col-lg-9">
													{# <input name="instagram" type="text" class="form-control" id="Instagram" value="https://instagram.com/#"> #}
													{{form_row(form.instagram, { 'required': false } )}}
												</div>
											</div>

											<div class="row mb-3">
												<label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
												<div
													class="col-md-8 col-lg-9">
													{# <input name="linkedin" type="text" class="form-control" id="Linkedin" value="https://linkedin.com/#"> #}
													{{form_row(form.linkedin, { 'required': false } )}}
												</div>
											</div>

											<div class="text-center">
												<button type="submit" class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
											</div>
											{{ form_end(form) }}
											<!-- End Profile Edit Form -->

										</div>

										<div
											class="tab-pane fade pt-3" id="profile-settings">

											<!-- Settings Form -->
											<form>

												<div class="row mb-3">
													<label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
													<div class="col-md-8 col-lg-9">
														<div class="form-check">
															<input class="form-check-input" type="checkbox" id="changesMade" checked>
															<label class="form-check-label" for="changesMade">
																Changes made to your account
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" id="newProducts" checked>
															<label class="form-check-label" for="newProducts">
																Information on new products and services
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" id="proOffers">
															<label class="form-check-label" for="proOffers">
																Marketing and promo offers
															</label>
														</div>
														<div class="form-check">
															<input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
															<label class="form-check-label" for="securityNotify">
																Security alerts
															</label>
														</div>
													</div>
												</div>

												<div class="text-center">
													<button type="submit" class="btn btn-primary">Save Changes</button>
												</div>
											</form>
											<!-- End settings Form -->

										</div>

										<div
											class="tab-pane fade pt-3" id="profile-change-password">
											<!-- Change Password Form -->
											<form>

												<div class="row mb-3">
													<label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
													<div class="col-md-8 col-lg-9">
														<input name="password" type="password" class="form-control" id="currentPassword">
													</div>
												</div>

												<div class="row mb-3">
													<label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
													<div class="col-md-8 col-lg-9">
														<input name="newpassword" type="password" class="form-control" id="newPassword">
													</div>
												</div>

												<div class="row mb-3">
													<label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
													<div class="col-md-8 col-lg-9">
														<input name="renewpassword" type="password" class="form-control" id="renewPassword">
													</div>
												</div>

												<div class="text-center">
													<button type="submit" class="btn btn-primary">Change Password</button>
												</div>
											</form>
											<!-- End Change Password Form -->

										</div>

									</div>
									<!-- End Bordered Tabs -->

								</div>
							</div>

						</div>
					</div>
				</section>

			</main>
			<!-- End #main -->
		</div>
	{% endblock %}
