{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}
{% block header %}{% endblock %}
{% block body %}
	<style>
		.image-container {
			height: 100vh;
			background-color: yellow;
			background-color: #ffffff;
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: url('https://f.hellowork.com/blogdumoderateur/2023/03/definitions-tech.jpg');

			background-repeat: no-repeat;
			background-size: cover;

		}
		.image-container span {
			color: white;
		}
		.image-container p {
			color: white;
		}
		.image-container h2 {
			color: white;
		}


		.form-container {
			height: 100vh;
			background-color: #ffffff;
			border-radius: 10px;
			display: flex;

			justify-content: center;
			align-items: space-between;
			flex-direction: column;
			padding: 0 20px;
		}

		.image-container img {
			width: 100%;
			height: 80vh;
			object-fit: cover;
		}
		.image-container.box {
			width: 100%;
			height: 80vh;

		}
		.card {
			border: 0;
		}
	</style>
	<div class="container-fluid">
		<div class="row">
			<div class="col-5 form-container">
				<div class="card">
					<div class="card-body">

						<h1 class="h3 mb-3 font-weight-normal text-center text-primary">Connexion</h1>
						<p class="form-text text-muted mb-2">Entrer votre email et le mot de passe</p>
						<form method="post">

							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									Vous êtes connecté en tant que
									{{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}" class="text-primary">Déconnexion</a>
								</div>
							{% endif %}

							<div class="form-group mb-3">
								<label for="inputEmail" class="form-label">Adresse email</label>
								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							</div>

							<div class="form-group mb-3">
								<label for="inputPassword" class="form-label">Mot de passe</label>
								<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
							</div>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="form-row mb-3 d-flex flex-wrap-reverse justify-content-between">
								<a class="text-secondary" href="{{path('app_home')}}">Mot de passe oublié ?</a>
								<button class="btn btn-md btn-primary " type="submit">
									Connexion
								</button>
							</div>

						</form>
						<div class="row">
							<div class="col">
								<div class="d-grid gap-2">
									<a href="{{path('app_home')}}" class="btn btn-block btn-success">
										Retour a la page d'accueil
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				{#  #}

			</div>
			<div class="col image-container">
				<div>
					<h2>Bienvenue dans le blog HK
					</h2>
					<span>
						Toutes les informations high tech
					</span>

				</div>

			</div>
		</div>

	</div>
{% endblock %}
{% block footer %}{% endblock %}
