{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row py-4">
        <div class="col bg-success">
            <h1 class="text-center" >{{ article.title }}</h1>
        </div>
    </div>

</div>
<div class="container">
<div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('app_home')}}">Accueil</a></li>
                    <li class="breadcrumb-item"><a href="{{path('app_articles')}}">Articles</a></li>
                    <li class="breadcrumb-item active " aria-current="page">{{ article.title }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="date">Ecrit le {{ article.createdAt|date("d/m/Y H:i") }}
            </p>
            <img src="{{ article.image }}" alt="{{ article.title }}" class="img-fluid mb-4">
            <p>{{ article.content }}</p>
            <hr>
            <h2>Commentaires</h2>
            {% if article.comments is not empty %}
                <ul class="list-unstyled">
                    {% for comment in article.comments %}
                        <li>
                            <p class="font-weight-bold">{{ comment.user.username }}</p>
                            <p>{{ comment.content }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Aucun commentaire pour le moment.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
